<% link = pagy_anchor(pagy) -%>
<nav class="pagy-nav pagination" role="navigation">
  <% if pagy.prev %>
    <span class="page prev"><%== link.call(pagy.prev, "Prev") %></span>
  <% else %>
    <span class="page prev disabled">Prev</span>
  <% end %>
  <% if pagy.next %>
    <span class="page next"><%== link.call(pagy.next, "Next") %></span>
  <% else %>
    <span class="page next disabled">Next</span>
  <% end %>
</nav>
