<%= turbo_frame_tag "bookmark" do %>
  <div id="report" x-data="{show: true}" x-show="show">
    <div class="relative z-[100]" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      <div>Create new Collection</div>
    </div>
  </div>
<% end %>
