<div class="text-gray-800 text-xs">
  Put your coffee shop at the top of the list. Read
  <a class="underline" href="https://amree.notion.site/Advertise-with-petakopi-my-33d9066cd0e446c7881ff79eb42540ca?pvs=4" target="_blank">here</a> for more info or contact us at <a class="underline" href="https://instagram.com/petakopi.my">@petakopi.my</a>
</div>
