<tr>
  <td class="px-6 py-4 sticky sm:static left-0 bg-yellow-100 z-0 min-w-[220px]" colspan="4">
    <div class="text-gray-800">
      Put your coffee shop at the top of the list. Read
        <a class="underline" href="https://bit.ly/advertise-with-petakopi" target="_blank">here</a> for more info or contact us for the price <a class="underline" href="https://instagram.com/petakopi.my">@petakopi.my</a>
    </div>
  </td>
</tr>
