<% if coffee_shop.present? %>
  <%= render partial: "coffee_shops/coffee_shop_list", locals: { coffee_shop: coffee_shop, is_ad: true } %>
<% else %>
  <li class="px-4 py-4 sm:px-6 bg-yellow-100">
    <%= render partial: "coffee_shops/ads_placeholder" %>
  </li>
<% end %>
