<% if coffee_shop.present? %>
  <%= render partial: "coffee_shops/coffee_shop", locals: { coffee_shop: coffee_shop, is_ad: true }, cached: true %>
<% else %>
  <tr>
    <td class="px-6 py-4 sticky sm:static left-0 z-0 min-w-[220px] bg-yellow-100" colspan="4">
      <%= render partial: "coffee_shops/ads_placeholder" %>
    </td>
  </tr>
<% end %>
