<div class="inset-x-0 bottom-0 fixed mb-10 flex justify-center">
  <div class="isolate inline-flex rounded-full shadow-md shadow-brown-100">
    <%= render partial: "coffee_shops/favourites", locals: { coffee_shop: coffee_shop } %>
    <%= render partial: "coffee_shops/check_in", locals: { coffee_shop: coffee_shop } %>
  </div>
</div>

