<div class="fixed bottom-0 mb-10 left-1/2 transform -translate-x-1/2">
  <div class="isolate inline-flex rounded-full shadow-md shadow-brown-100">
    <%= render partial: "coffee_shops/favourites", locals: { coffee_shop: coffee_shop } %>
    <%= render partial: "coffee_shops/report", locals: { coffee_shop: coffee_shop } %>
  </div>
</div>
