<% if coffee_shop.public_send(link).present? %>
  <%= link_to coffee_shop.public_send(link), target: "_blank" do %>
    <div class="w-5">
      <%= render "components/icons/#{link.to_s.remove("_url").to_sym}" %>
    </div>
  <% end %>
<% end %>
