<div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="flex-shrink-0">
      <%= render partial: "components/icons/refresh" %>
    </div>
    <div class="min-w-0 flex-1">
      <%= button_to opening_hours_coffee_shop_syncs_path(coffee_shop_id: coffee_shop.id), class: "focus:outline-none text-left" do %>
        <p class="text-sm font-medium text-gray-900">Opening Hours</p>
        <p class="truncate text-sm text-gray-500">Sync with Google</p>
      <% end %>
    </div>
  </div>

  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400 opacity-25">
    <div class="flex-shrink-0">
      <%= render partial: "components/icons/refresh" %>
    </div>
    <div class="min-w-0 flex-1">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">Ratings</p>
        <p class="truncate text-sm text-gray-500">Sync with Google</p>
      </a>
    </div>
  </div>

  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400 opacity-25">
    <div class="flex-shrink-0">
      <%= render partial: "components/icons/refresh" %>
    </div>
    <div class="min-w-0 flex-1">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">Photos</p>
        <p class="truncate text-sm text-gray-500">Sync with Instagram</p>
      </a>
    </div>
  </div>
</div>
