<h1>Editing coffee shop</h1>

<%= render "form", coffee_shop: @coffee_shop %>

<br>

<div>
  <%= link_to "Show this coffee shop", @coffee_shop %> |
  <%= link_to "Back to coffee shops", coffee_shops_path %>
</div>
