<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-12">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-xl font-semibold text-gray-900">Coffee Shops</h1>
          <p class="mt-2 text-sm text-gray-700">
            A list of all the coffee shops that has been assigned to you.
          </p>
        </div>
      </div>
      <div class="mt-8 flex flex-col">
        <% if current_user.coffee_shops.size.positive? %>
          <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
              <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">Name</th>
                      <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-6"></th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white">
                    <% current_user.coffee_shops.each do |coffee_shop| %>
                      <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                          <%= coffee_shop.name %>
                        </td>
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                          <%= link_to "Manage", edit_coffee_shop_path(id: coffee_shop.slug), class: "text-brown-600 hover:text-brown-900" %>
                          <%= link_to "View", main_coffee_shop_path(id: coffee_shop.slug), class: "text-brown-600 hover:text-brown-900 ml-4" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% else %>
          <div>
            It seems like you don't have any coffee shop assigned to you.
            Please contact us at <a class="underline" href="https://instagram.com/petakopi.my" target="_blank">petakopi.my</a>
            to claim your coffee shop.
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
