<div class="rounded border border-gray-200 bg-gray-50">
  <a href="#" class="cursor-pointer">
    <div>
      <img src="https://placehold.co/400x400" class="h-72 w-full rounded-t object-cover" />
      <div class="p-4">
        <p class="mb-4 text-lg leading-relaxed font-bold text-gray-800">
        <%= coffee_shop.name %>
        </p>
        <small class="leading-5 text-gray-500">
          <% if coffee_shop.try(:distance_meters).present? %>
            From <%= (coffee_shop.distance_meters / 1000).round(2) %> KM, <%= [coffee_shop.district, coffee_shop.state].join(", ") %>
          <% else %>
            <%= [coffee_shop.district, coffee_shop.state].join(", ") %>
          <% end %>
        </small>
      </div>
    </div>
  </a>
</div>
