@import "bootstrap/scss/functions";

@import "@tabler/core/src/scss/variables";
@import "@tabler/core/src/scss/utilities";
@import "@tabler/core/src/scss/mixins";

@import "bootstrap-config";
@import "@tabler/core/src/scss/mixins-override";
