<div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">
    <section aria-labelledby="applicant-information-title">
      <div class="bg-white shadow sm:rounded-lg">
        <div class="flex items-center justify-between px-4 py-5 sm:px-6">
          <div>
            <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
              Submissions
            </h2>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              <% if  %>
                The last 5 approved coffee shops.
              <% else %>
                No approved coffee shops yet.
              <% end %>
            </p>
          </div>
        </div>

        <ul class="border-t border-gray-200 divide-y divide-gray-200 text-sm text-gray-600 sm:hidden">
          <%= render partial: "coffee_shops/coffee_shop_list",
            collection: coffee_shops,
            cached: true,
            as: :coffee_shop
          %>
        </ul>

        <div class="hidden sm:block border-t border-gray-200">
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow border-b border-gray-200 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                    <tbody class="bg-white divide-y divide-gray-200">
                      <%= render partial: "coffee_shops/coffee_shop",
                        collection: coffee_shops,
                        cached: true
                      %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
