<div class="mt-4 rounded-md bg-[#fceee6] p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-brown-50 text-gray-800">Derma</span>
    </div>
    <div class="ml-3 flex-1 md:flex md:justify-between items-center">
      <p class="text-sm text-brown-700">
        Baru-baru ini <a href="https://petakopi.my/kopi-nitro" class="underline">Kopi Nitro</a>
        menghadapi dugaan akibat dari cuaca buruk yang tak diduga. Sama-sama
        lah kita membantu sebaik yang boleh.
      </p>
      <p class="mt-3 text-sm md:mt-0 md:ml-6">
        <a href="https://bit.ly/donation-kopi-nitro" class="whitespace-nowrap font-medium text-brown-700 hover:text-brown-600" target="_blank">
          Info <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</div>
