<div class="rounded-md bg-[#fceee6] p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-brown-50 text-gray-800">
        Info
      </span>
    </div>
    <div class="ml-3 flex-1 md:flex md:justify-between items-center">
      <p class="text-sm text-brown-700">
        Follow us on <a href="https://instagram.com/petakopi.my" target="_blank" class="underline">Instagram</a> and
        <a href="https://www.tiktok.com/@petakopi.my" target="_blank" class="underline">TikTok</a>.
        Tag us if you post a video about local coffee shop. We'd ❤️ to share it
        with others.
      </p>
      <p class="mt-3 text-sm md:mt-0 md:ml-6">
        <a href="https://bit.ly/petakopi-baju-v1" class="whitespace-nowrap font-medium text-brown-700 hover:text-brown-600" target="_blank">
          Buy Our T-Shirt <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</div>
