<div class="rounded-md bg-[#fceee6] p-4">
  <div class="flex">
    <div class="ml-3">
      <p class="text-sm text-brown-700 font-bold">
        Join Us for Miss SHOPhia Go Pesta Kopi Extended 2023!
      </p>

      <p class="text-sm text-brown-700 mt-3">
        From today until 1st October, come experience a unique gathering of
        coffee shops at Piazza, Level 3, Pavillion Bukit Jalil Mall. Don't miss
        out! ☕🎉
      </p>

      <p class="text-sm text-brown-700 mt-1">
        Checkout this <a href="https://www.instagram.com/p/CxwpUiEP_C9/" class="underline">post</a> for more info.
      </p>
    </div>
  </div>
</div>
