<div class="mt-4 bg-white overflow-hidden shadow rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <div class="text-center">
      <%= render "components/icons/store" %>
      <h3 class="mt-2 text-sm font-medium text-gray-900">No coffee shop</h3>
      <p class="mt-1 text-sm text-gray-500">Be the first one to submit the coffee shop here.</p>
      <div class="mt-6">
        <a href="<%= new_coffee_shop_v2_path %>" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-brown-600 hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500">
          <!-- Heroicon name: solid/plus -->
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
          New Coffee Shop
        </a>
      </div>
    </div>
  </div>
</div>
