<%=
  turbo_stream.replace(
    "#{dom_id(@coffee_shop)}_check_in",
    partial: "coffee_shops/check_in",
    locals: {coffee_shop: @coffee_shop}
  )
%>

<% if @check_in.persisted? %>
  <%=
    turbo_stream.replace(
      "toast",
      partial: "shared/toast",
      locals: {
        type: "success",
        message: "You just checked in for today!<br><br>See your past <a class='underline' href='/u/#{current_user.username}'>records</a>."
      }
    )
  %>
<% else %>
  <%=
    turbo_stream.replace(
      "toast",
      partial: "shared/toast",
      locals: {
        type: "error",
        message: @check_in.errors.full_messages.first
      }
    )
  %>
<% end %>
