<div class="flex justify-end mb-4 gap-x-2">
  <button type="button" class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
    <svg class="size-1.5 fill-gray-500" viewBox="0 0 6 6" aria-hidden="true">
      <circle cx="3" cy="3" r="3" />
    </svg>
    Use current location
  </button>

  <button type="button" class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
    <svg class="size-1.5 fill-gray-500" viewBox="0 0 6 6" aria-hidden="true">
      <circle cx="3" cy="3" r="3" />
    </svg>
    More Filters
  </button>
</div>

<%= turbo_frame_tag "coffee_shops", src: home_coffee_shops_path, loading: "lazy" do %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <% 10.times do %>
      <%= render "shared/loaders/coffee_shop_card" %>
    <% end %>
  </div>
<% end %>
