<h2 class="text-3xl font-extrabold text-gray-900">
  About
</h2>

<div class="bg-white overflow-hidden shadow sm:rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6 text-gray-900">
    <p>
      <strong>petakopi</strong> is an answer for coffee lovers looking for a
      new place to have coffee. We don't intend it to be another Google Place,
      Foursquare, Instagram or others. We just want to find a place to have a
      good coffee for now.
    </p>

    <p class="mt-2">
      That being said, we are still open to the idea of helping the community.
      But time is limited so, new features will be added slowly, like a
      dripping coffee from a V60.
    </p>

    <p class="mt-2">
      If you think this is something you like and want to help with, you can start by
      submitting local coffee shops you know right now. The code is also available
      publicly at this
      <a href="https://github.com/amree/petakopi" target="_blank" class="font-medium text-brown-600 hover:text-brown-500">repository</a>.
      Feel free to send some code there if you can.
    </p>

    <p class="mt-2">
    </p>
  </div>
</div>

<h2 class="mt-12 text-3xl font-extrabold text-gray-900">
  Contact Us
</h2>

<div class="bg-white overflow-hidden shadow sm:rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6 text-gray-900">
    <p>
      We can be reaced at
      <a href="https://www.instagram.com/petakopi.my/" target="_blank" class="font-medium text-brown-600 hover:text-brown-500">@petakopi.my</a>.
      Feel free to reach to us for anything: corrections/feedbacks/suggestions
      or just be our new friend :D
    </p>
    </p>
  </div>
</div>

<a name="halal"></a>

<h2  class="mt-12 text-3xl font-extrabold text-gray-900">
  Halal Info
</h2>

<div class="bg-white overflow-hidden shadow sm:rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6 text-gray-900">
    <p>
      We can only randomly verify the data provided by contacting the official owner
      due to limited human resources and time. Please be cautious about the status
      that was submitted by others.
    </p>

    <div class="border-t mt-4"></div>

    <p class="mt-4">
      It has come to our attention that people ask us the actual purpose of the
      "Muslim Owner" tag.
    </p>

    <p class="mt-4">
      In Islam, the food and drinks consumed has to meet certain requirements
      such as no alcohols, animals are slaughtered according to Islam method and
      no prohibited animals products such as pork. Food and drinks meeting this
      requirement are deemed Halal.
    </p>

    <p class="mt-4">
      It is pretty standard for a cafe/stall to serve both coffee and food.
      Coffee or drinks are usually fine and is usually the food itself that has
      much more criteria to meet.
    </p>

    <p class="mt-4">
      Originally, we planned to add a "Muslim Friendly" tag, but the definition
      seems to differ depending on who you ask. We decided to make it simple,
      either "Halal Certified" or "Muslim Owner". It is common to assume "Muslim
      Owner" will use halal ingredients and doesn't serve pork/alcohol in their
      food and drinks, hence other Muslim can decide if they could consume the
      food there.
    </p>
  </div>
</div>

<h2 class="mt-12 text-3xl font-extrabold text-gray-900">
  Disclaimer
</h2>

<div class="bg-white overflow-hidden shadow sm:rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6 text-gray-900">
    <p>
      All information displayed is verified on a best effort basis. Please
      double-check the info if you think it is inaccurate. We are not
      responsible for how you use the information on this website.
    </p>
  </div>
</div>
