<h2 class="text-3xl font-extrabold text-gray-900">
  About
</h2>

<div class="bg-white overflow-hidden shadow sm:rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6 text-gray-900">
    <p>
      <strong>petakopi</strong> is an answer for coffee lovers looking for a new place to have a
      coffee. We don't intend it to be another Google Place, Foursquare, Instagram or
      others. We want to find a place to have a coffee for now.
    </p>

    <p class="mt-2">
      That being said, we are still open to the idea of helping the community. But
      time is limited so, new features will be added slowly, like a dripping coffee
      from a V60.
    </p>

    <p class="mt-2">
      If you think this is something you like and want to help with, you can start by
      submitting local coffee shops you know right now. The code is also available
      publicly at this <a class="underline" href="https://github.com/amree/petakopi" target="_blank">repository</a>.
      Feel free to send some code there if you can.
    </p>

    <p class="mt-2">
      You guys can contact me at <a href="https://t.me/petakopi" target="_blank" class="underline">@petakopi</a>
      or <a class="underline" href="mailto:http://www.url.com" target="_blank">mohd.amree@gmail.com</a>.
      May we always have a place to enjoy a cup of coffee wherever we are :)
    </p>
  </div>
</div>

<h2 class="mt-12 text-3xl font-extrabold text-gray-900">
  Halal Info
</h2>

<div class="bg-white overflow-hidden shadow sm:rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6 text-gray-900">
    <p>
      We can only randomly verify the data provided by contacting the owner
      through the official owner due to limited manpower and time. Please be
      cautious on the status that was submitted by others.
    </p>
  </div>
</div>

<h2 class="mt-12 text-3xl font-extrabold text-gray-900">
  Disclaimer
</h2>

<div class="bg-white overflow-hidden shadow sm:rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6 text-gray-900">
    <p>
      All information displayed is verified on a best effort basis. Please
      double-check the information if you think it is not accurate or has doubt
      on the information. We are not responsible on how you use the information
      in this website.
    </p>
  </div>
</div>
