<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <%= render partial: "coffee_shops/coffee_shop_menu", locals: { coffee_shop: @coffee_shop } %>

  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="bg-white py-6 px-4 sm:p-6">
        <div class="space-y-6 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Feedbacks
            </h3>
            <p class="mt-1 text-sm text-gray-500">
              From your customers
            </p>

            <div class="mt-8 flow-root">
              <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Sent at</th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0"></th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                      <% @feedbacks.each do |feedback| %>
                        <tr class="<%= feedback.opened_at.blank? ? 'bg-yellow-50' : nil %>">
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900">
                              <%= feedback.created_at.strftime("%d %b %Y %I:%M %p") %>
                          </td>
                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium">
                            <a
                              href="<%= coffee_shop_feedback_path(@coffee_shop.slug, feedback) %>"
                              class="text-brown-600 hover:text-brown-900"
                              data-turbo-prefetch="false"
                            >
                              View
                            </a>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
