<div class="relative overflow-hidden bg-gray-100 rounded-lg animate-pulse transition-all duration-500">
	<div class="h-48 w-full bg-gray-200"></div>
	<div class="p-4 space-y-2">
		<div class="h-4 bg-gray-200 rounded"></div>
		<div class="h-4 bg-gray-200 rounded"></div>
		<div class="h-4 bg-gray-200 rounded"></div>
		<div class="h-4 bg-gray-200 rounded"></div>
		<div class="h-4 bg-gray-200 rounded"></div>
	</div>
</div>
