<p style="margin-top: 8px">
  Hi <%= @user.username %>,
</p>

<p style="margin-top: 8px">
  I hope this email finds you well!
</p>

<p style="margin-top: 8px">
  I wanted to let you know that we have just begun our auctions for the ads in 2025.
</p>

<p style="margin-top: 8px">
  Just loggin to your account and place your bid before the 28th of the month to get featured on petakopi.my's home
  page. The two highest bidders will be featured on the home page for the entire month.
</p>

<p style="margin-top: 8px">
  These are some visit stats for 2024:
<ul style="margin-top: 8px">
  <li>77,000 active users</li>
  <li>617,000 page views (visits)</li>
</ul>
</p>

<p style="margin-top: 8px">
  I will only collect the payments from the winners before the 1st of the month (or maybe later, depends on when I can
  find the time). So, no one has to pay until then.
</p>

<p style="margin-top: 8px">
  The auction list is available at <a href="https://petakopi.my/auctions">https://petakopi.my/auctions</a>. Visit our <a
    href="https://www.instagram.com/p/DEGmyfkT43z/">IG post</a> to see more stats about our traffics.
</p>

<p style="margin-top: 8px">
  Best regards,<br> Amree Zaid
</p>

<hr>

<p style="margin-top: 8px">
  Need help? Contact us on Instagram
  <a href="https://www.instagram.com/petakopi.my/">@petakopi.my</a>
</p>
