Hello everyone,

<p style="margin-top: 8px;">
  We hope this email finds you well.
</p>
<p style="margin-top: 8px;">
  This is a friendly reminder that our ad auction will end
  tonight at midnight. As the auction draws to a close, we
  wanted to update you on the current standings.
</p>
<p style="margin-top: 8px;">
  <strong>Current Top 2 Bidders:</strong>
</p>

<p style="margin-top: 8px;">
  1. <%= @first_winner.name %>
  <br>
  2. <%= @second_winner.name %>
</p>

<p style="margin-top: 8px;">
  If your coffee shop isn't on this list, there is still time
  to place a higher bid and secure a top spot. Don't miss this
  last opportunity to maximize your ad's visibility!
</p>

<p style="margin-top: 8px;">
  Please log in to your account and place your bid before
  midnight to ensure you have a chance to win.
</p>

<p style="margin-top: 8px;">
  <a href="https://petakopi.my/auctions">https://petakopi.my/auctions</a>
</p>

<p style="margin-top: 8px;">
  Thank you for your participation and best of luck!
</p>

<p style="margin-top: 8px">
  Best regards,<br> Amree Zaid
</p>

<hr>

<p style="margin-top: 8px">
  Need help? Contact us on Instagram
  <a href="https://www.instagram.com/petakopi.my/">@petakopi.my</a>
</p>
