Hi <%= @user.username %>,

<p style="margin-top: 8px;">
  We hope this email finds you well.
</p>

<p style="margin-top: 8px;">
  We wanted to inform you that your recent bid in <%= @auction.title %> has
  been outbid by other owners. Currently, you are no longer in the top 2
  positions. To secure a top spot again, we recommend logging into your account
  and placing a higher bid.
</p>

<p style="margin-top: 8px;">
  <strong>Current Top 2 Bidders:</strong>
</p>

<p style="margin-top: 8px;">
  1. <%= @first_winner.name %>
  <br>
  2. <%= @second_winner.name %>
</p>

<p style="margin-top: 8px;">
  To increase your chances of getting back into the top 2 and maximizing your
  ad's visibility, please log in to your account and adjust your bid
  accordingly.
</p>

<p style="margin-top: 8px;">
  <a href="https://petakopi.my/auctions">https://petakopi.my/auctions</a>
</p>

<p style="margin-top: 8px;">
  Thank you for your prompt attention to this matter. If you have any questions
  or need assistance, please don't hesitate to reach out to me.
</p>

<p style="margin-top: 8px">
  Best regards,<br> Amree Zaid
</p>

<hr>

<p style="margin-top: 8px">
  Need help? Contact us on Instagram
  <a href="https://www.instagram.com/petakopi.my/">@petakopi.my</a>
</p>
