<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet" />

<div id="map" style="height: 500px"></div>

<%= content_for :js do %>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

  <script>
    mapboxgl.accessToken = "<%= Rails.application.credentials.dig(:mapbox_api_key) %>";

    const map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/light-v9?optimize=true",
      center: [101.7121498580279, 3.1578064758309883],
      zoom: 16,
    });

    map.addControl(new mapboxgl.NavigationControl());
    map.addControl(new mapboxgl.FullscreenControl());


    fetch("<%= api_v1_coffee_shops_path(format: :json) %>")
      .then(response => response.json())
      .then(shops => {
        const icon = "http://maps.google.com/mapfiles/kml/shapes/coffee.png"

        fetch("<%= api_v1_coffee_shops_path(format: :json) %>")
          .then(response => response.json())
          .then(shops => {
            shops.map((shop, i) => {
              const popupText = `<strong><a href="${shop.url}" target="_blank">${shop.name} &rarr;</a></strong>`
              const popup = new mapboxgl.Popup({ offset: 25, closeButton: false }).setHTML(popupText);

              new mapboxgl.Marker({ color: "brown" })
                .setLngLat([shop.lng, shop.lat])
                .setPopup(popup)
                .addTo(map);
            })
          })
      })
  </script>

<% end %>
