<%= content_for(:page_title) { "Live Map for nearby coffee places"} %>
<%= content_for(:page_description) { "See nearby coffee places on a live map!" } %>
<div
    class="w-full h-screen relative"
    data-controller="mapbox"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    id="map">

    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 z-50 font-sans">
      <button
          data-action="click->mapbox#toggleFilterFormModal"
          class="bg-white bg-opacity-75 hover:bg-opacity-100 rounded-full py-2 px-4 text-sm shadow-md flex items-center justify-center text-gray-900 space-x-4">
          <span>Filter</span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5">
              <path d="M0 416c0 8.8 7.2 16 16 16l65.6 0c7.4 36.5 39.7 64 78.4 64s71-27.5 78.4-64L496 432c8.8 0 16-7.2 16-16s-7.2-16-16-16l-257.6 0c-7.4-36.5-39.7-64-78.4-64s-71 27.5-78.4 64L16 400c-8.8 0-16 7.2-16 16zm112 0a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zM304 256a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm48-80c-38.7 0-71 27.5-78.4 64L16 240c-8.8 0-16 7.2-16 16s7.2 16 16 16l257.6 0c7.4 36.5 39.7 64 78.4 64s71-27.5 78.4-64l65.6 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-65.6 0c-7.4-36.5-39.7-64-78.4-64zM192 144a48 48 0 1 1 0-96 48 48 0 1 1 0 96zm78.4-64C263 43.5 230.7 16 192 16s-71 27.5-78.4 64L16 80C7.2 80 0 87.2 0 96s7.2 16 16 16l97.6 0c7.4 36.5 39.7 64 78.4 64s71-27.5 78.4-64L496 112c8.8 0 16-7.2 16-16s-7.2-16-16-16L270.4 80z"/>
            </svg>
          </span>
      </button>
    </div>

    <!-- Ask for current location -->
    <div
        data-mapbox-target="askPermissionModal"
        style="display: block;"
        class="fixed inset-0 z-[100] font-sans">
      <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto p-4 sm:p-6 md:p-8">
        <div class="flex min-h-full items-center justify-center">
          <div class="relative w-full bg-white rounded-lg shadow-xl sm:max-w-[420px]">
            <!-- Close button -->
            <div class="absolute right-0 top-0 p-4">
              <button data-action="click->mapbox#toggleAskPermissionModal" type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Close</span>
                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <!-- Content container -->
            <div class="p-4 sm:p-6">
              <div class="flex flex-col sm:flex-row sm:items-start">
                <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
                  <svg class="size-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                  </svg>
                </div>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <h3 class="text-base font-semibold text-gray-900" id="modal-title">Deactivate account</h3>
                  <div class="mt-2">
                    <p class="text-sm text-gray-500">
                      Can we use your current location to show you nearby coffee places?
                    </p>
                  </div>
                </div>
              </div>

              <!-- Action buttons -->
              <div class="mt-5 flex flex-col-reverse sm:flex-row sm:justify-end gap-3">
                <button
                    data-action="click->mapbox#toggleAskPermissionModal"
                    type="button"
                    class="inline-flex justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                    No
                </button>
                <button
                    data-mapbox-target="locationButton"
                    data-action="click->mapbox#setCurrentLocation"
                    type="button"
                    class="inline-flex justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500">
                    <span data-mapbox-target="locationButtonText">Yes</span>
                    <!-- Loading spinner (hidden by default) -->
                    <svg data-mapbox-target="locationSpinner" class="hidden animate-spin ml-2 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Filter form modal -->
    <div
        data-mapbox-target="filterFormModal"
        style="display: none;"
        class="fixed inset-0 z-[100] font-sans">
      <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto p-4 sm:p-6 md:p-8">
        <div class="flex min-h-full items-center justify-center">
          <div class="relative w-full bg-white rounded-lg shadow-xl sm:max-w-[420px]">
            <!-- Close button -->
            <div class="absolute right-0 top-0 p-4">
              <button data-action="click->mapbox#toggleFilterFormModal" type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Close</span>
                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <!-- Content container -->
            <div class="p-4 sm:p-6">
              <div class="flex flex-col sm:flex-row sm:items-start">
                <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
                  <svg class="size-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                  </svg>
                </div>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <h3 class="text-base font-semibold text-gray-900" id="modal-title">Deactivate account</h3>
                  <div class="mt-2">
                    <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All of your data will be permanently removed from our servers forever. This action cannot be undone.</p>
                  </div>
                </div>
              </div>

              <!-- Action buttons -->
              <div class="mt-5 flex flex-col-reverse sm:flex-row sm:justify-end gap-3">
                <button
                    data-action="click->mapbox#toggleFilterFormModal"
                    type="button"
                    class="inline-flex justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                  Cancel
                </button>
                <button
                    type="button"
                    class="inline-flex justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500">
                  Deactivate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
