<div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-white border border-brown-200 rounded-t-3xl bottom-0 left-1/2 dark:bg-brown-700 dark:border-brown-600 browser:hidden md:hidden">
  <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
    <a href="/" class="inline-flex flex-col items-center justify-center px-5 rounded-tl-3xl hover:bg-brown-50 dark:hover:bg-brown-800 group">
      <svg class="w-5 h-5 mb-1 text-brown-500 dark:text-brown-400 group-hover:text-brown-400 dark:group-hover:text-brown-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
      </svg>
      <span class="sr-only">Home</span>
    </a>
    <a href="/map" class="inline-flex flex-col items-center justify-center px-5 hover:bg-brown-50 dark:hover:bg-brown-800 group">
      <svg class="w-6 h-6 mb-1 text-brown-500 dark:text-brown-400 group-hover:text-brown-400 dark:group-hover:text-brown-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
      </svg>
      <span class="sr-only">Wallet</span>
    </a>
    <div class="flex items-center justify-center">
      <a href="/new" data-turbo="false" class="inline-flex items-center justify-center w-10 h-10 font-medium bg-brown-600 rounded-full hover:bg-brown-700 group focus:ring-4 focus:ring-brown-300 focus:outline-none dark:focus:ring-brown-800">
        <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
        <span class="sr-only">New item</span>
      </a>
    </div>
    <a href="/about" class="inline-flex flex-col items-center justify-center px-5 hover:bg-brown-50 dark:hover:bg-brown-800 group">
      <svg class="w-7 h-7 mb-1 text-brown-500 dark:text-brown-400 group-hover:text-brown-400 dark:group-hover:text-brown-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.6-8.5h0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <span class="sr-only">About</span>
    </a>
    <a  href="/u/profile" class="inline-flex flex-col items-center justify-center px-5 rounded-tr-3xl hover:bg-brown-50 dark:hover:bg-brown-800 group">
      <svg class="w-5 h-5 mb-1 text-brown-500 dark:text-brown-400 group-hover:text-brown-400 dark:group-hover:text-brown-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
      </svg>
      <span class="sr-only">Profile</span>
    </a>
  </div>
</div>
