<div>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Published</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= CoffeeShop.where(status: "published").count %></dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Unpublished</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= CoffeeShop.where(status: "unpublished").count %></dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Rejected</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= CoffeeShop.where(status: ["rejected", "duplicate"]).count %></dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Total Users</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= User.count %></dd>
    </div>
  </dl>
</div>
